body {
  text-align: center;
  background-color: #f7c52d;
}

.container {
  margin: 5%
}

.sb-lineup {
  width: 20%;
  float: right;
  height: 100%;
}

.tribute-photos {
  float: right;
  width: 40%;
  margin-bottom: 5%;
  overflow: hidden;
}
