body {
  text-align: center;
  background-color: #f7c52d;
}

/*.container {
  margin: 5%
}*/

.sb-lineup {
  width: 20%;
  float: right;
  height: 100%;
  margin: 10px;
  border-style: dashed;
  border-color: crimson;
  background-color: orange;
}

.tribute-photos {
  float: right;
  width: 38%;
  margin-top: 5%;
  margin-bottom: 5%;
  overflow: hidden;
  display: table;
}

img {
  width: 60%;
  padding: 5px 5px 5px 5px;
  box-shadow: 20px;
  border-radius: 10px;
}
